- name: Install podman repo
  template:
    src: "devel:kubic:libcontainers:stable.list.j2"
    dest: "/etc/apt/sources.list.d/devel:kubic:libcontainers:stable.list"
  become: true
  become_method: sudo
  when: ansible_distribution_version == "20.04"

- name: Install podman apt-key
  apt_key:
    url: "https://download.opensuse.org/repositories/devel:kubic:libcontainers:stable/xUbuntu_{{ ansible_distribution_version }}/Release.key"
    state: present
  become: true
  become_method: sudo
  when: ansible_distribution_version == "20.04"

- name: Install apt packages
  apt:
    name:
    - aptitude
    - qemu
    - qemu-system
    - nodejs
    - npm
    - sddm
    - flameshot
    - runc
    - podman
    - autorandr
    - arandr
    - steam-installer
    - pavucontrol
    - gnome-screensaver
    - silversearcher-ag
    - openjdk-8-jdk
    - net-tools
    - nemo
    state: present
    update_cache: true
  become_method: sudo
  become: true

- name: Install snap packages (classic confinement)
  snap:
    name:
    - slack
    - helm
    - kubectl
    state: present
    classic: true
  become: true
  become_method: sudo



- name: check if multimc is installed
  command: dpkg-query -W multimc
  register: multimc_check_deb
  failed_when: multimc_check_deb.rc > 1
  changed_when: multimc_check_deb.rc == 1

- name: download multimc
  get_url:
    url: "https://files.multimc.org/downloads/multimc_1.4-1.deb"
    dest: "{{ dotfiles_user_home }}/Downloads/multimc_1.4-1.deb"
  when: multimc_check_deb.rc == 1

- name: Install multimc
  apt:
    deb: "{{ dotfiles_user_home }}/Downloads/multimc_1.4-1.deb"
  when: multimc_check_deb.rc == 1
  become: true
  become_method: sudo
