- import_tasks: debian.yml
  when: ansible_os_family == "Debian"
- import_tasks: arch.yml
  when: ansible_os_family == "Archlinux"

- name: download oh-my-zsh installer
  get_url:
    url: "https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh"
    dest: /tmp/omz-installer.sh

- name: install oh-my-zsh
  command: "sh /tmp/omz-installer.sh"
  args:
    creates: "{{ dotfiles_user_home }}/.oh-my-zsh/oh-my-zsh.sh"

- name: Create .zsh folder
  file:
    path: "{{ dotfiles_user_home }}/.zsh/completion"
    state: directory

- name: link .zshrc.local
  file:
    src: "{{ dotfiles_home }}/roles/zsh/files/zshrc.local"
    dest: "{{ dotfiles_user_home }}/.zshrc.local"
    state: link
    force: true

- name: check if ~/.config/zsh exists
  stat:
    path: "{{ dotfiles_user_home }}/.config/zsh"
  register: zsh_config

- name: link .zshrc
  file:
    src: "{{ dotfiles_home }}/roles/zsh/files/zshrc"
    dest: "{{ dotfiles_user_home }}/.zshrc"
    state: link
    force: true

- name: link backup .zshrc
  file:
    src: "{{ dotfiles_home }}/roles/zsh/files/zshrc"
    dest: "{{ dotfiles_user_home }}/.config/zsh/.zshrc"
    state: link
    force: true
  when: zsh_config.stat.exists
#- name: Set zsh as default shell
#   user: name="{{ dotfiles_user }}" shell=/usr/bin/zsh
#   become: true
#   become_user: "{{ dotfiles_user }}"
#   become_method: sudo
