- import_tasks: debian.yml
  when: ansible_os_family == "Debian"

- name: Update fzf
  git:
    repo: 'https://github.com/junegunn/fzf.git'
    dest: '{{dotfiles_user_home}}/.fzf'

- name: Check if fzf installed
  shell: "command -v fzf"
  register: fzf_result
  failed_when: false
  changed_when: false

- name: Install fzf
  shell: "{{dotfiles_user_home}}/.fzf/install"
  when: fzf_result.rc != 0
